h1,
p {
  font-family: Lato;
}

.card_item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.grid_column {
  height: 400px;
  background: #ebf0ed;
}

.card_item {
  height: 120px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  background: #fafaf5;
  margin: 5px;
  padding: 5px;
}

.header_item {
  font-size: 18px;
  font-family: sans-serif;
  padding: 4px;
  color: #8b948f;
  margin-bottom: 10px;
  margin-top: 5px;
}

.card_title {
  margin: 4px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.card_description {
  margin: 4px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 100;
}

.columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.check {
  --borderWidth: 4px;
  --height: 10px;
  --width: 4px;
  --borderColor: white;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  position: absolute;
  bottom: 3px;
  left: 5px;
}
button.tick_button {
  height: 20px;
  position: absolute;
  width: 20px;
  bottom: 6px;
  left: 10px;
  background: #78b13f;
  cursor: pointer;
}
.priority {
  font-size: 14px;
  font-family: sans-serif;
  margin: 5px;
}
/* Tooltip CSS */
.tooltip {
  position: inherit;
  display: inline-block;
  border-bottom: 1px dotted rgb(199, 188, 188);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: rgb(158, 145, 145);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  bottom: 20px;
  right: 15px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
